@import "~antd/dist/antd.css";

@font-face {
    font-family: 'rowo';
    src: url('../font/Rowo.ttf');
}

@font-face {
    font-family: 'sunday';
    src: url('../font/Sunday-Regular-2.otf'), url('../font/Sunday-Regular-3.ttf')
}

div.App, .ant-layout {
    height: 100%;
}

.App .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.App .trigger:hover {
    color: #3f69f3;
}

.App .logo {
    height: 32px;
    margin: 16px;
    /* background: rgba(255, 255, 255, 0.3); */
}

.site-layout .site-layout-background {
    background: #fff;
}

#title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "sunday";
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(97, 179, 218);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}